extends layout

block content
  h1= title
  p Greetings, welcome to Harald's super-fantastic #{title}
  form(action='#{messageURL}', method = 'post')
   input(type="text", name="message", placeholder="Enter a message", size="40")
   input(type='submit', name='submit', value='Submit')
   p #{messageURL}